body {
  background: limegreen;
  color: maroon;
}
 #main {
  padding: 4px palegreen;
  background: mediumturquoise;
}
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  padding: 2px;
}
tr:hover {background-color: lime;}
